<!--<h1>Dar de alta Empleado</h1>-->

<!--<h1 class = "title">-->
<!--  {{ edit ? 'Editar ' : 'Crear '}} + "Empleado"-->
<!--</h1>-->
<!--<div class="form" [formGroup]="myForm">-->
<!--  <div class="parent-input">-->
<!--    <span class="label-input">Código* </span>-->
<!--    <mat-form-field appearance="outline" floatLabel='never'>-->
<!--      <input matInput name = "id" formControlName="id" [(ngModel)]="empleado.id">-->
<!--      <mat-error *ngIf="myError('id', 'required')">Campo obligatorio</mat-error>-->
<!--      <mat-error *ngIf="myError('id', 'maxlength')">Ha superado el límite máximo de 4 caracteres</mat-error>-->
<!--    </mat-form-field>-->
<!--  </div>-->
