<div class="flex flex-column">
  <span class="text-lg mt-2 mb-3">Registrarse</span>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input type="text" matInput placeholder="Nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellidos</mat-label>
    <input type="text" matInput placeholder="Apellidos">
  </mat-form-field>

  <mat-form-field>
    <mat-label>DNI</mat-label>
    <input type="text" matInput placeholder="DNI">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha nacimiento</mat-label>
    <input type="date" matInput placeholder="Fecha de nacimiento">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input type="text" matInput placeholder="Teléfono">
  </mat-form-field>

  <button class=" btn-arrow ml-8" mat-fab color="basic">
    <mat-icon>arrow_forward</mat-icon>
  </button>

  <div class="flex justify-content-center mb-3 mt-4">
    <a routerLink="/auth/login">Ya tengo cuenta</a>
  </div>

</div>



<!--  <div class= "form-field">-->
<!--    <mat-form-field>-->
<!--      <mat-label>Dirección</mat-label>-->
<!--      <input type="text" matInput placeholder="Dirección">-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--&lt;!&ndash;  <div class= "form-field">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Dirección Facturación</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" matInput placeholder="Dirección Facturación">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class= "form-field">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Correo eletrónico</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" matInput placeholder="Correo eletrónico">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class= "form-field">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Contraseña</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" matInput placeholder="Contraseña">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Método pago</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" matInput placeholder="Método pago">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--  <button mat-button mat-flat-button  color="primary">-->
<!--   Crear cuenta-->
<!--    <mat-icon>save</mat-icon>-->
<!--  </button>-->

<!--  <div class="flex justify-content-end mt-5">-->
<!--    <a routerLink="/auth/login">Ya tengo cuenta</a>-->
<!--</div>-->
<!--</div>-->
