<div class="d-flex">
  <div class="go-to-container">
    <div class="go-to-label">Ir a: </div>
    <mat-form-field>
<!--      <mat-select (selectionChange)=" goToChange() " [(value)]="goTo">-->
<!--        <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>-->
<!--      </mat-select>-->
    </mat-form-field>
  </div>
<!--  <mat-paginator showFirstLastButtons [length]="length" [pageIndex]="pageIndex"-->
<!--                 [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="paginationChange($event)">-->
<!--  </mat-paginator>-->
</div>
