table {
  width: 100%;
}

.content-row {
  color: black;
  font-size: 15px;
  text-align: left;
}

.header-table {
  color: white;
  font-size: 15px;
  text-align: left;
}

.btn-create {
  background-color:#A9DFBF;
  border: solid 0.5px #229954;
  margin-left: 650px
}

.btn-historial {
  background-color:#EAE697 ;
  border: solid 0.5px ;
}
