<h1>Administrar elementos </h1>
<mat-divider></mat-divider>

<div class="table-footer">
  <button mat-raised-button class="btn-show p-4 ml-3" (click)="visualizarArticulos()">
    <mat-icon>visibility</mat-icon>
    <span>Visualizar Artículos</span>
  </button>
  <button mat-raised-button class="btn-show p-4 ml-4" (click)="visualizarEmpleados()">
    <mat-icon>visibility</mat-icon>
    <span>Visualizar Empleados</span>
  </button>
  <button mat-raised-button class="btn-show p-4 ml-4" (click)="visualizarClientes()">
    <mat-icon>visibility</mat-icon>
    <span>Visualizar Clientes</span>
  </button>
</div>
